<div class="center jumbotron-fluid">
  <h1>About To-do List</h1><br>
  <div class="text-md-center">
    <p>
      This is an online To-do List with the frontend written using the React framework and the backend written using Ruby on Rails.
    </p><br>
  </div>
  <%= link_to 'Home', root_path %>
</div>

