<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a>A To-do List with Ruby on Rails backend and React frontend</a>
      by <a>Asthenosphere</a>
    </small>
    <nav>
      <ul>
        <li><%= react_component('About') %></li>
      </ul>
    </nav>
  </footer>
</div>